<?xml version="1.0"?>
<launch>
	<node pkg="narrow_path" name="narrow_path_node" type="narrow_path_node" output="screen">
		<param name="CONST_SPEED" value="6"/>
	</node>
  
<!--
  <node pkg="urg_node" name="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value="192.168.0.11"/>
  </node>
-->
  <include file="$(find kuuve_lidar_missions)/launch/obstacle_detector_bag.launch" clear_params="false"/>

</launch>
